<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698471842431-ckr9gm2p73vd4sab1qtjf57e5dbedns1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698471842431-ckr9gm2p73vd4sab1qtjf57e5dbedns1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>698471842431-ht5kqmq5ouf0j0darnfco026397v20je.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdVZVBoz7v8Jfyeq1bIOuNQphikVPbJ1k</string>
	<key>GCM_SENDER_ID</key>
	<string>698471842431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spendsense</string>
	<key>PROJECT_ID</key>
	<string>spendsense-555</string>
	<key>STORAGE_BUCKET</key>
	<string>spendsense-555.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698471842431:ios:725d6c212a13a63fe3f54a</string>
</dict>
</plist>